<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Favorable Media</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="{{ static_url }}website/images/header/fav_blue4.png" type="image/x-icon">
    <link rel="stylesheet" href="{{ static_url }}website/css/grid.css">
    <link rel="stylesheet" href="{{ static_url }}website/css/style.css">
    <link rel="stylesheet" href="{{ static_url }}website/css/border.css">
    <link rel="stylesheet" href="{{ static_url }}website/css/camera.css">
    <link rel="stylesheet" href="{{ static_url }}website/css/owl-carousel.css">
      <link rel="stylesheet" href="{{ static_url }}website/css/colorScheme-1.css">
    <script src="{{ static_url }}website/js/jquery.js"></script>
    <script src="{{ static_url }}website/js/jquery-migrate-1.2.1.js"></script>
      <!--[if lt IE 9]>
    <html class="lt-ie9">
      <div style="clear: both; text-align:center; position: relative;"><a href="http://windows.microsoft.com/en-US/internet-explorer/.."><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    </html>
    <script src="{{ static_url}}website/js/html5shiv.js"></script>
      <![endif]-->
    <script src="{{ static_url }}website/js/device.min.js"></script>
  </head>
</html>