{% include 'website/header.html' %}
<main>
    <section class="camera_container">
      <div id="camera" class="camera_wrap">
        <div data-src="{{ static_url}}website/images/page-1_slide01.jpg">
          <div class="camera_caption fadeIn">
            <div class="container">
              <div class="row">
                <div class="preffix_6 grid_6">We can increase your profit line, by marketing your brand online. </div>
              </div>
            </div>
          </div>
        </div>
        <div data-src="{{ static_url}}website/images/page-1_slide02.jpg">
          <div class="camera_caption fadeIn">
            <div class="container">
              <div class="row">
                <div class="preffix_6 grid_6">The best strategies to attract new business</div>
              </div>
            </div>
          </div>
        </div>
        <div data-src="{{ static_url}}website/images/page-1_slide03.jpg">
          <div class="camera_caption fadeIn">
            <div class="container">
              <div class="row">
                <div class="preffix_6 grid_6">A wide range of global business information</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container banner_wr">
        <ul class="banner">
          <li>
            <div class="fa-globe"></div>
            <h3>Observance</h3>
            <p>Success in social media requires more listening and less talking.
                              “Observe” your target audience online and join the discussion to
                              learn what’s valuable to them.</p><a href="#"></a>
          </li>
          <li>
            <div class="fa-lightbulb-o"></div>
            <h3>Appearance</h3>
            <p>“Appearance” overtakes quality. It’s better to have 1000 connections who read,
                              share and talk about your content with their connections than 10,000 connections
                               who disappear after connecting with you the first time.</p><a href="#"></a>
          </li>
          <li>
            <div class="fa-cogs"></div>
            <h3>Perseverance</h3>
            <p>Social media marketing doesn’t happens overnight,it requires “Perseverance” as it’s
                                far more likely that we need to commit long period of time to achieve results.</p><a href="#"></a>
          </li>
          <li>
            <div class="fa-umbrella"></div>
            <h3>Confluence</h3>
            <p>A highly focused social media intended to build a strong brand has a better chance
                              for success and to “confluence” the community.</p><a href="#"></a>
          </li>
          <li>
            <div class="fa-volume-up"></div>
            <h3>Influence</h3>
            <p>Publish amazing quality contents to build your online audiences of quality connections
                              & Influence them to share it with their own audience.</p><a href="#"></a>
          </li>
        </ul>
      </div>
    </section>
    <section class="well ins1">
      <div class="container hr">
        <p class='grid_6'>We employ Favorable AIDA model to meet your needs </p>
        <ul class="row product-list">
          <li class="grid_6">
            <div class="box wow fadeInRight">
              <div class="box_aside">
                <div class="icon fa-comments"></div>
              </div>
              <div class="box_cnt__no-flow">
                <h3><a href="#">Attention</a></h3>
                <p> Attracts the attention of the customer.</p>
              </div>
            </div>
            <hr>
            <div data-wow-delay="0.2s" class="box wow fadeInRight">
              <div class="box_aside">
                <div class="icon fa-calendar-o"></div>
              </div>
              <div class="box_cnt__no-flow">
                <h3><a href="#">Interest</a></h3>
                <p>Develop Interest of the customer.</p>
              </div>
            </div>
          </li>
          <li class="grid_6">
            <div data-wow-delay="0.3s" class="box wow fadeInRight">
              <div class="box_aside">
                <div class="icon fa-group"></div>
              </div>
              <div class="box_cnt__no-flow">
                <h3><a href="#">Desire</a></h3>
                <p>Convince Customer that they want and desire the product and services & that it will satisfy their need.</p>
              </div>
            </div>
            <hr>
            <div data-wow-delay="0.4s" class="box wow fadeInRight">
              <div class="box_aside">
                <div class="icon fa-thumbs-up"></div>
              </div>
              <div class="box_cnt__no-flow">
                <h3><a href="#">Action</a></h3>
                <p>Leads customer towards taking action.</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="well1">
      <div class="container ">
        <div class="row">
          <div class="grid_6">
              <a name="services"></a>
            <h2>Services</h2>
            <p><h4>With our Favorable 360 degree succession of marketing service we provide</h4></p>
            <ul class="marked-list">
              <li><a>Favorable SEO/SEM. </a></li>
              <li><a>Favorable PPC Marketing.</a></li>
              <li><a>Favorable Customer Communication.</a></li>
              <li><a>Favorable Outbound Email Campaign.</a></li>
              <li><a>Favorable Inbound lead Nurturing.</a></li>
              <li><a>Favorable SMO/SMM.</a></li>
              <li><a>Favorable Website Creation.</a></li>
            </ul>
          </div>
          <div class="grid_6">
            <!--<div class="info-box">-->
              <!--<h2 class="fa-comment">Help center</h2>-->
              <!--<hr>-->
              <!--<h3>Ask professionals:</h3>-->
              <!--<dl>-->
                <!--<dt>Monday - Friday:</dt>-->
                <!--<dd>8am-7pm</dd>-->
              <!--</dl>-->
              <!--<dl>-->
                <!--<dt>Saturday:</dt>-->
                <!--<dd>8am-5pm</dd>-->
              <!--</dl>-->
              <!--<dl>-->
                <!--<dt>Sunday:</dt>-->
                <!--<dd>1pm-5pm</dd>-->
              <!--</dl>-->
              <!--<hr>-->
              <!--<h3>24/7 Online Support:</h3>-->
              <!--<dl>-->
                <!--<dt>800-2345-6789</dt>-->
              <!--</dl>-->
            <!--</div>-->
            <div class="owl-carousel">
                {% for item in blog_items%}
                  <div class="item">
                    <blockquote class="box">
                        {% if item.image_link %}
                      <div class="box_aside"><img src="{{ static_url }}{{ item.image_link }}" alt=""></div>
                        {% endif %}
                      <div class="box_cnt__no-flow">
                        <p>
                          <q>{{ item.title }}</q>
                        </p>
                        <cite><a href="{{ item.url }}">Read More</a></cite>
                      </div>
                    </blockquote>
                  </div>
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include 'website/contact.html' %}
</main>
{% include 'website/footer.html' %}